annotated-types==0.6.0
beautifulsoup4==4.12.2
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
EbookLib @ git+https://github.com/aerkalov/ebooklib.git@1cb3d2c251f82c4702c2aff0ed7aea375babf251
google-api-core==2.15.0
google-auth==2.26.1
google-cloud-speech==2.23.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
idna==3.6
inflect==7.0.0
loguru==0.6.0
lxml==5.0.0
mobi==0.3.3
proto-plus==1.23.0
protobuf==4.25.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
python-dotenv==1.0.0
rapidfuzz==3.6.1
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.5
SpeechRecognition==3.10.1
srt==3.5.3
thefuzz==0.20.0
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.1.0
vosk==0.3.45
websockets==12.0
